<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav bg-info">
          <li class="item"><a href="#" class="nav-link link-light">Home</a></li>
          <li class="item"><a href="{% url "aboutus" %}" class="nav-link link-light">About us</a></li>
          <li class="item"><a href="#" class="nav-link link-light">Contact us</a></li>
        </ul>
      </nav>
    <header>
    {% block "content" %}
    <main>
    <h1>Welcome to Postify!</h1>
    <h2>{{program | upper}}</h2>
    <p>{{ posts|length }} posts available.</p>

    {% for post in posts %}
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p><span>{{post.author}}</span> - <span> {{post.date}}</span></p>
    {%if post.likes > 0 %}
    <span>{{post.likes}} Likes</span>
    {% endif %}
    <em>Post Data</em>
    {% endfor %}
    </main>
    {% endblock "content" %}
    <footer>
      <ul>
        <li>Paola</li>
        <li>Jezabel</li>
        <li>Wendy</li>
      </ul>
      <a href="#">Preguntas frecuentes</a>
    </footer>
  </body>
</html>
