<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{for ele in data}}</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quasi
      consequatur facilis, id odio perspiciatis quidem eius totam, doloribus
      magni enim expedita vitae maxime eos cum, temporibus possimus? Sint,
      ullam.
    </p>
  </body>
</html>
